<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>
<br>
<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Post:</h3>

    <form class="form new-post-form">
      <div class="form-group">
        <span  for="post-title" class="input-group-text" id="basic-addon1">title</span>
        <input class="form-control" type="text" id="post-title" name="post-title" />
      </div>
      <br>
      <div class="form-group">
        <span  for="post-content" class="input-group-text" id="basic-addon1">content</span>
        <textarea class="form-control" id="post-content" name="post-content"></textarea>
      </div>
      <br>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
      <br>

    </form>
     
  </div>
  <br>
{{#each posts as |post| }}
<div>
   <div class="card text-white bg-secondary" >
  <h2 class="card-header"> <a class="post-link" href="/dashboard/update/{{post.id}}"> {{post.title}}</a><span></h2>
  <div class="card-body ">
    <p class="card-text card-body">{{post.content}}</p> 
  </div>
  <div class="card-body ">
    <p class="card-header">  {{format_date post.date_created}}</p>
  </div>
  <div class="col-12 text-center">
        <button class="btn btn-danger post-link " id="delBtn" data-id="{{post.id}}">DELETE</button>
      </div>
      <div class="col-12 text-center">
        <button class="btn  btn-danger" id="viewBtn" ><a class=" post-link" href="/api/posts/{{post.id}}"> View</a></button>
      </div>
</div>
  <br>
  <br>
{{/each}}
<script src="/js/dashboard.js"></script>