{{#each posts as |post| }}
<div>
   <div class="card text-white bg-secondary" >
  <h2 class="card-header">{{post.title}}</h2>
  <div class="card-body ">
    <p class="card-text">{{post.content}}</p>
  </div>
  {{#if comments.length}}
  <div class="card-body">
      <p>Comments: {{post.comments.text}}</p>
    </div>
    {{/if}}
  <div class="card-header">
      {{post.user.name}} <span> - {{format_date post.date_created}}</span>
    </div>
</div>

</div>
  <br>
{{/each}}
